fundos-175-caracteristicas-publico-22-02-2025-12-01-14.xlsx
balancete_fi_202402.zip
*.zip
index_cache
extrato_fi.csv
informe_diario
extrato_fi_2020.csv
extrato_fi_2021.csv
extrato_fi_2022.csv
extrato_fi_2023.csv
extrato_fi_2024.csv
arr-regime-informacional-fundos-555.pdf
Cartilha_da_Nova_Classificacao_de_Fundos_1_.pdf
fundos_db.duckdb